doctype
html
  head
    title #{title} - REPLACE THIS TITLE
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 REPLACE THIS HEADER
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Copyright 2018 RoundTower, Inc.
